* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}


canvas {
    border: 2px solid black;
    width: 100%; /* Custom position */
    height: 100%; /* Custom position */
}

button {
    border: none;
    background: none;
    width: 4vh;
    height: 4vh;
    filter: grayscale(100%);
    transition: filter 0.8s ease;
    transition: scale 0.8s ease;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
}

#hud {
    position: absolute;
    justify-self: right;
    left: 93vw;
    top: 3vh;
    background: transparent;
    user-select: none;
}

#flipBtn {
    background-image: url("src/img/flip.png");   
}

#resetBtn {
    background-image: url("src/img/reset.png");
}

button:hover {
    filter: grayscale(0%);
    scale: 105%;
}
